.App {
  text-align: center;
  background-color: #fb9a93;
  padding: 5%;
  color: #ede9dd;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 2%;
  line-height: 2;
  background-color: #018b5a;
  border: 10px double #94d9d4;
}
